body {
    background-color: rgb(228, 216, 200);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  /* Navigation Bar */
  
  #home {
    background-color:  #3a6ab8;
    padding-bottom: 1.5cm;
    margin-left:-1cm;
    margin-right:-1cm;
    margin-top:-1cm;
    padding-top: 1.5cm;
    padding-bottom: 2.5cm;
    height: 5mm;
   }

   .site_name {
    float: center;
    font-family: 'Comic Sans MS';
    text-align: center;
    color: aliceblue;
    font-weight: bolder;
    font-size: 50px;
  }

  .site_name .quote {
    font-size: 15px;
    font-style: italic;
    align-items: center;
    padding-bottom: 10px;
    flex-direction: row;

  }

  .site_name img {
    width: 50px;
    margin-right: 10px;
    margin-top: 12px;
    align-items: center;
    }  

  .button-container {
    display: flex;
    padding-top: 100px;
    padding-left: 220px;
    

  }
  
  .custom-button {
    width: 300px;
    height: 300px;
    margin-right: 100px;
    font-family: 'Comic Sans MS';
    background-color: #ffffff00;
    color: rgba(0, 0, 0, 0.566);
    border-radius: 25px;
    border-color: rgba(0, 0, 0, 0.449);
    border-width: 3px;
    transition: box-shadow 0.3s ease;
    transition: transform 1s ease;

  }

  .custom-button img {
    height: 200px;
    width: 200px;
  }

  .custom-button:hover {
    color: rgba(0, 0, 0, 0.566);
    background-color: #e7a9a9;
    cursor: pointer;
    box-shadow: 20px 10px 20px rgba(0, 0, 0, 0.2);
    transform: scale(1.07);
  }

  .custom-link {
    color: rgba(0, 0, 0, 0.566);
  }

  a {
    text-decoration: none;
  }